.footerSpan {
    width: 100%;
    background-color: white;
    padding: 10px 0px;
    color: #666;
    font-size: 12px;
    position: sticky;
    bottom: -25px;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  .footerSpan a {
    color: #000000;
    text-decoration: none;
  }
  .footerSpan .fa {
    color: red;
    margin: 0 3px;
    font-size: 10px;
    animation: pound 0.35s infinite alternate;
    -webkit-animation: pound 0.35s infinite alternate;
  }
  
  @-webkit-keyframes pound {
    to {
      transform: scale(1.1);
    }
  }
  @keyframes pound {
    to {
      transform: scale(1.1);
    }
  }